<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/static/common.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            $("#uname").blur(function(){
                var xhr=createXhr();
                var uname=$("#uname").val();
                var url="/ajax/04-checkuname?uname="+uname;
                xhr.open("get",url,true);
                xhr.onreadystatechange=function(){
                    if(xhr.readystate==4 &&xhr.status==200){
                        if(xhr.responseText=="1"){
                            $("#uname-tip").html("用户名称已经存在");
                        }else{
                            $("#uname-tip").html("通过");
                        }
                    }
                }
                xhr.send(null);
            });
        });
    </script>
</head>
<body>

<div>
   <p>
       用户名:<input type="text" id="uname">
       <span id="uname-tip"></span>
   </p>
    <p>
        密码:<input type="password" id="upwd">
    </p>
    <p>
        email:<input type="email" id="uemail">
    </p>
    <p>
        昵称:<input type="text" id="neckname">
    </p>
    <p>
        <input type="button" value="注册">
    </p>
</div>

<span onclick="alert">添加成功</span>







</body>
</html>