<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13-head.html</title>
    <style>
        #nav li{
            float:left;
            width:100px;
            height:30px;
            background:blue;
            text-align:center;
            color:#0ff;
            font-weight:blod;
            font-size:20px;
        }
        #nav{
            list-style:none;
        }
    </style>
</head>
<body>
<h1>北京欢迎你...</h1>
<ul id="nav">
    <li>首页</li>
    <li>冥神估计</li>
    <li>美味佳肴</li>
    <li>风土人情</li>
</ul>





</body>
</html>